RewriteEngine On
RewriteBase /

# Leite alle Anfragen außer echten Dateien/Verzeichnissen an index.html weiter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
